<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>award1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,102}</string>
                <key>spriteSourceSize</key>
                <string>{146,102}</string>
                <key>textureRect</key>
                <string>{{20,0},{146,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>award2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{122,98}</string>
                <key>textureRect</key>
                <string>{{166,0},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,68}</string>
                <key>spriteSourceSize</key>
                <string>{98,68}</string>
                <key>textureRect</key>
                <string>{{288,0},{98,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,115}</string>
                <key>spriteSourceSize</key>
                <string>{104,115}</string>
                <key>textureRect</key>
                <string>{{386,0},{104,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{63,76}</string>
                <key>textureRect</key>
                <string>{{0,115},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{63,115},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,65}</string>
                <key>spriteSourceSize</key>
                <string>{90,65}</string>
                <key>textureRect</key>
                <string>{{143,115},{90,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{233,115},{67,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,125}</string>
                <key>spriteSourceSize</key>
                <string>{135,125}</string>
                <key>textureRect</key>
                <string>{{300,115},{135,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{97,75}</string>
                <key>textureRect</key>
                <string>{{0,240},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,146}</string>
                <key>spriteSourceSize</key>
                <string>{129,146}</string>
                <key>textureRect</key>
                <string>{{97,240},{129,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,188}</string>
                <key>spriteSourceSize</key>
                <string>{179,188}</string>
                <key>textureRect</key>
                <string>{{226,240},{179,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,116}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{0,428},{117,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,246}</string>
                <key>spriteSourceSize</key>
                <string>{212,246}</string>
                <key>textureRect</key>
                <string>{{117,428},{212,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,196}</string>
                <key>spriteSourceSize</key>
                <string>{141,196}</string>
                <key>textureRect</key>
                <string>{{329,428},{141,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,142}</string>
                <key>spriteSourceSize</key>
                <string>{135,142}</string>
                <key>textureRect</key>
                <string>{{0,674},{135,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,147}</string>
                <key>spriteSourceSize</key>
                <string>{133,147}</string>
                <key>textureRect</key>
                <string>{{135,674},{133,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,97}</string>
                <key>spriteSourceSize</key>
                <string>{121,97}</string>
                <key>textureRect</key>
                <string>{{268,674},{121,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,88}</string>
                <key>spriteSourceSize</key>
                <string>{81,88}</string>
                <key>textureRect</key>
                <string>{{389,674},{81,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ObjTexture.png</string>
            <key>size</key>
            <string>{490,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbcd8f1bf3b55711158150e0590c0a22:111671635200752fdf27488ff868559e:902c9f8104e12685e075c53532934bab$</string>
            <key>textureFileName</key>
            <string>ObjTexture.png</string>
        </dict>
    </dict>
</plist>
